/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.head {
  background-color: #222946;
  padding: 10px;
  flex: 0 1 100%;
}
.head-width {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.inline {
  display: flex;
}
.head-bar a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}
.head nav {
  margin-top: 10px;
}

.shrink {
  flex: 0 1 100%;
  background-color: #e9ecfc;
  padding: 40px 0;
}
.section-width {
  width: 90%;
  margin: 0 auto;
}
.width-adjust {
  width: 45%;
}
.heading-font {
  font-size: 28px;
  color: #020511;
  text-transform: capitalize;
}
.para-font {
  color: #96979d;
  text-transform: capitalize;
  padding: 20px 0;
  line-height: 1.4;
  text-align: justify;
}
.read-btn {
  background-color: #63b768;
  color: white;
  border: none;
  font-size: 18px;
  padding: 13px;
  border-radius: 5px;
}
.background-white {
  flex: 0 1 100%;
  padding: 50px 0;
}
.blog-head {
  color: #020511;
  text-align: center;
  font-size: 26px;
}
.flex-shrink {
  width: 31%;
  padding: 50px 0;
}
.image-heading {
  color: #020511;
  font-size: 22px;
  margin-top: 20px;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.image-para {
  color: #96979d;
  margin-top: 15px;
  text-transform: capitalize;
  text-align: justify;
  font-size: 14px;
}
.para-btn {
  background-color: #63b768;
  color: white;
  border: none;
  margin-top: 15px;
  font-size: 15px;
  padding: 8px;
  border-radius: 3px;
}
footer {
  background-color: #222946;
  padding: 30px;
}
small {
  color: white;
}
.nav-icon i {
  color: white;
  padding: 0 10px;
  font-size: 18px;
}
.section-width img {
  width: 45%;
}
@media screen and (max-width: 768px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  .head {
    background-color: #222946;
  }
  .width-adjust {
    width: 100%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .shrink {
    width: 100%;
  }
  .heading-font {
    margin-top: 15px;
  }
  .section-width img {
    width: 100%;
  }
  .head-width {
    flex-wrap: wrap;
  }
  .flex-direction {
    flex-direction: column;
  }
  .head-width image {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .full-width {
    flex-direction: column;
  }
  .flex-shrink {
    width: 100%;
  }
  .image-logo {
    text-align: center;
  }
  .head-bar {
    margin-top: 10px;
  }
  footer {
    background-color: #222946;
    padding: 30px;
  }
  small {
    color: white;
  }
  .nav-icon i {
    color: white;
    padding: 0 10px;
    font-size: 18px;
  }
  .inline {
    justify-content: center;
  }
  #active {
    color: green;
  }
  .footer-flex {
    flex-direction: column;
  }
  small {
    text-align: center;
    font-size: 18px;
  }
  .bar-center {
    margin-top: 20px;
  }
  .section-width img {
    width: 100%;
  }
}
